@{
	Layout = "_Layout";
	ViewBag.Title = "Ссылка не найдена";
}
<div class="container mt-5">
	<div class="card border-danger shadow">
		<div class="card-header bg-danger text-white">
			<h1 class="card-title mb-0">Ссылка не найдена</h1>
		</div>
		<div class="card-body">
			<p class="card-text lead">Похоже, что допущена ошибка в написании ссылки или ссылка не существует</p>
			<hr>
			<p>Пожалуйста, проверьте правильность написания ссылки или сгенерируйте ссылку заново</p>
			<a href="/" class="btn btn-primary">На главную страницу</a>
		</div>
	</div>
</div>