@model LinksApp.Models.Link
@{
	string? decrypted_text_content = TempData["Decrypted_text_content"] != null ? (string?)TempData["Decrypted_text_content"] : null;
}

<div>
	@if (decrypted_text_content != null)
	{
        <p>
			<label asp-for="Text_content">Расшифрованный текст</label><br />

            @Html.TextArea("Text_content", decrypted_text_content, new { @class = "text" }) <button id="textButton" class="copy-button">Скопировать</button>
 		</p>
	}
</div>
<script type="text/javascript">
        
            const targetText = document.getElementById("Text_content");
            const buttonText = document.getElementById("textButton");
            
           
            if(buttonText){
                
                buttonText.addEventListener(`click`, async (e) => {
                    e.preventDefault();
                    
                    await navigator.clipboard.writeText(targetText.value)
                   
            });
            }
            

</script>

